
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&display=swap');

.apiQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12% 20%;
  color: white;
  background-color: rgb(117, 127, 129);
  padding: 10px;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
